.row.show-grid
  .span7
    #admin-title.span7
      %h1 Blog Admin
      %button#new-btn.btn New Post
    %br
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Post #
          %th Title
          %th Tags
          %th Published?
          %th Options
      %tbody
        -@posts.map do |p|
          %tr
            %td 
              %span #{p[:id]}
            %td 
              %span #{p[:title]}
            %td 
              %span.keywords #{list_keywords(p[:tags])}
            %td
              = published?(p[:public])
            %td
= render :partial => "posts/new", :locals => {:post => @post} 
= render :partial => "posts/edit", :locals => {:post => @post}
