%br
%br
.row.show-grid
  .span7
    #admin-title.span7
      %h1 Blog Admin
      %button#new-btn.btn{:type => "button"} New Post
      %br
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Date Published
          %th Title
          %th Keywords
          %th 
      %tbody
        -@posts.map do |p|
          %tr{:id => "post-id-#{p[:id]}"}
            %td 
              %span #{p[:date_published]}
            %td 
              %span #{p[:title]}
            %td 
              =p[:keywords].map {|k| k.name}.join(", ") 
            %td
              %button.btn.edit-btn{:id => "edit-#{p[:id]}", :type => "button"} Edit Post
              %button.delete-btn.btn{:type => "button", :type => "button", :data => {:post => "#{p[:id]}"}} Delete Post
  .span5 
= render :partial => "posts/new", :locals => {:post => @post} 
= render :partial => "posts/edit", :locals => {:post => @post}
= render :partial => "posts/destroy", :locals => {:post => @post}
