!!! 5
%html
  %head
    %title Hautaulogy 
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "/stylesheets/solarized-dark"
    = render :partial => "layouts/scripts"
    = javascript_include_tag "application"
    = javascript_include_tag "/javascripts/d3.v2.min"
    = javascript_include_tag "/javascripts/rainbow.min"
    = javascript_include_tag "/javascripts/ruby"
    = javascript_include_tag "/javascripts/javascript.js"
    = csrf_meta_tags
  %body
    :javascript
      window.foo = {}
    .container
      .white-div
        %header{:class => "jumbotron subhead"}
          #admin-nav
            -if current_user
              %ul
                %li 
                  Logged in as #{current_user.name}
                %li
                  =link_to "Log out", logout_path
        .title
          .title-link
            %a{:href => root_path}
              .character
                =image_tag "/character.png", :class => "character"  
              %h1
                %span Hautaulogy
          %h3 
            Code, music, data science, and the other things. Hooray for blogs!
          .icons{:style => "float:right;"}
            %a{:href => "http://twitter.com/hautaulogy"}
              =image_tag "/bird.png"
            %a{:href => "http://github.com/crossthestreams"}
              =image_tag "/octocat.png"
        .navbar
          .navbar-inner
            .container
              %ul{:class => "nav search"}
                %li
                  =form_tag('/search/', :method => 'post', :class => "navbar-search") do 
                    =text_field_tag :query, params[:query], :class =>"search-query span2", :id => "blog-search", :placeholder => "Search"
              %ul{:class => "nav links"}
                %li
                  %a{:style => "display:none;", :href => "#"} Projects
                %li
                  %a{:style => "display:none;", :href => "#"} Musical Things 
                %li{:style => "display:none;float:right;"}
                  %a{:href => "/about"} About
      - if current_user
        = hidden_field_tag 'post-count', Post.count
        = hidden_field_tag 'page-count', Post.page_count(true)
      - else
        = hidden_field_tag 'post-count', Post.where(:published => true).count
        = hidden_field_tag 'page-count', Post.page_count
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash#{name}", :class => "alert"
        = yield


